.babe-view-stimulus-container {
    display: flex;
    height: auto;
    overflow:auto; 
    margin: 0 auto;
    width: auto;
}
.babe-view-stimulus-container-custom {
    display: flex;
    height: 190px;
    margin: 0 auto;
    width: auto;
}
.babe-view-picture {
    align-self: center;
    height: auto;
}

.babe-response-picture img {
    margin: 20px;
    height: 220px;
    width: 220px;
}

